.site_header {
	@include content_center;
	margin-bottom: $s-vertical*2;
	padding-top: $s-vertical*2;
	overflow: hidden;
	position: relative;
	transition: max-height 0.4s ease;
	.single &,
	.page & {
		margin-bottom: 0;
		padding-top: $s-vertical*3;
		max-height: 0;
	}
	&.open {
		max-height: 500px;
	}
	&--toggle {
		background-color: $c-brightGreen;
		box-shadow: none;
		border: none;
		border-radius: 0;
		color: $c-white;
		display: none;
		padding-top: $s-vertical;
		padding-right: $s-vertical;
		padding-bottom: $s-vertical;
		padding-left: $s-vertical;
		position: absolute;
		text-transform: uppercase;
		top: 0;
		text-shadow: none;
		right: $s-vertical;
		transition: padding-top 0.4s ease;
		&:before {
			border-top: 0.4em solid $c-white;
			border-bottom: 0.4em solid $c-white;
			content: "";
			display: block;
			height: $s-vertical;
			transition: height 0.2s ease;
			width: $s-vertical*2;
		}
		&:hover {
			box-shadow: none;
			&:before {
				// height: $s-vertical*2;
			}
		}
		&:focus {
			box-shadow: none;
			outline: none;
		}
		&.open {
			&:before {
				height: $s-vertical*2;
			}
			&:hover {
				&:before {
					// height: $s-vertical;
				}
			}
		}
		.single &,
		.page & {
			display: block;
		}
	}
}
.site_branding {
	@include with-layout($g-small) {
		@include span(5);
	}
	@include breakpoint($bp-medium) {
		@include with-layout($g-medium) {
			@include span(5 first);
		}
	}
	@include breakpoint($bp-large) {
		@include with-layout($g-large) {
			@include span(8 first);
		}
	}
	&--title {
		font-size: 36px;
		font-size: 3.6rem;
		margin-top: 0;
		a {
			text-decoration: none;
		}
	}
	&--desc {}
}
.site_nav {
	@include with-layout($g-small) {
		@include span(5);
	}
	@include breakpoint($bp-medium) {
		@include with-layout($g-medium) {
			@include span(3);
		}
	}
	@include breakpoint($bp-large) {
		@include with-layout($g-large) {
			@include span(4);
		}
	}
	&--list {}
}