.post_body_wrap {
	@include content_center;
}
.post_body {
	@include content_skinny_center;
}
.entry-meta {
	color: $c-gray;
	font-size: 0.9em;
	a {
		color: $c-gray;
	}
}
.single_post_nav_wrap {
	@include content_center;
}
.single_post_nav {
	@include content_skinny_center;
}

.single_post_content {
	&--header_wrap {
		margin-bottom: $s-vertical;
		@include breakpoint($bp-large) {
			@include with-layout($g-large) {
				@include span( 12 of 8 );
				@include pull( 2 of 8 );
			}
		}
		@include breakpoint($bp-medium) {
			@include with-layout($g-medium) {
				@include span( 8 of 6 );
				@include pull( 1 of 6 );
			}
		}
	}
	&--header {
		display: block;
	}
}
.post_image_wrap {
	clear: both;
	&__large {
		@include breakpoint($bp-large) {
			@include with-layout($g-large) {
				@include span(12 of 8);
				@include pull(2 of 8);
			}
		}
	}
}
.post_image {
	margin-bottom: $s-vertical;
	&__left,
	&__pull_left {
		float: left;
		margin-right: $s-vertical;
	}
	&__pull_left {
		@include breakpoint( $bp-large ) {
			@include with-layout( $g-large ) {
				@include pull(2 of 8);
			}
		}
		@include breakpoint( $bp-medium ) {
			@include with-layout( $g-medium ) {
				@include pull(1 of 6);
			}
		}
	}
	&__center {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	&__right,
	&__push_right {
		float: right;
		margin-left: $s-vertical;
	}
	&__push_right {
		// TODO this is not cimetrical to pull left
		@include breakpoint( $bp-large ) {
			@include with-layout( $g-large ) {
				margin-right: (gutter(8) + span(2))*-1;
			}
		}
		@include breakpoint( $bp-medium ) {
			@include with-layout( $g-medium ) {
				margin-right: (gutter(6) + span(1))*-1;
			}
		}
	}

	&__small {}
	&__medium {
		@include breakpoint( $bp-small ) {
			@include center_image;
			float: none;
		}
	}
	&__large {
		@include breakpoint($bp-small) {
			@include center_image;
			float: none;
		}
	}
	&__x-large {
		@include center_image;
		float: none;
	}
}