// CONTENT
// This file contains all non printing styles other than layout.
// Feel free to break this into as many seprate files as you like.
//
//
// 1. Variables
//  1.0 Variables - General
//  1.1 Variables - Color
//  1.2 Variables - Size
//  1.3 Variables - Grid Settings
// 2. Functions
// 3. Mixins
// 4. Extends

//
// 1. Variables
//
// 1.0 Variables - General
$stack-order: ();

// 1.1 Variables - Color
$c-black: #000000;
$c-white: #FFFFFF;

$ff-raleway: 'Raleway', sans-serif;
$ff-roboto: 'Roboto', sans-serif;

// 1.2 Variables - Size

// 1.3 Variables - Breakpoint Settings
//
// for large setting:
// @include breakpoint($bp-large) {
//   display: block;
// }
$breakpoint-no-query-fallbacks: true;
$susy: (
  gutters: 30/65,
  gutter-position: before
);
$bp-small: 0em 37.5em;
$bp-medium: 37.5em 55em;
$bp-medium-up: 37.5em, 'no-query' '.mz-no-mediaqueries';
$bp-large: 55em, 'no-query' '.mz-no-mediaqueries';

// 1.3 Variables - Grid Settings
//
// span 5 columns in a 16 column grid context:
// @include layout($g-large) {
//   @include span(5);
// }
$g-small: (
  columns: 5
);
$g-medium: (
  columns: 8
);
$g-large: (
  columns: 12
);

//
// 2. Functions
//
@function stacking_order($className) {
  @return index($stack-order, $className) + 50;
}

//
// 3. Mixins
//
@mixin group {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin content_full {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  width: 100%;
  @include group;
}
@mixin content_center {
// max width 960px -> 56.5em
  margin: 0 auto;
  max-width: 57.5em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  @include group;
}

//
// 4. Extends
//