.test_block {
  @include content_center;
  &--item {
    background-color: blue;
    height: 3em;
    margin-top: 1em;
    @include breakpoint($bp-small) {
      @include with-layout($g-small) {
        @include span(1);
      }
      &:nth-child(5n-4) {
        margin-left: 0;
      }
    }
    @include breakpoint($bp-medium) {
      background-color: purple;
      @include with-layout($g-medium) {
        @include span(1);
      }
      &:nth-child(8n-7) {
        margin-left: 0;
      }
    }
    @include breakpoint($bp-large) {
      background-color: green;
      @include with-layout($g-large) {
        @include span(1);
      }
      &:nth-child(16n-15) {
        margin-left: 0;
      }
    }
  }
}